{% extends "layout.html" %}
{% block title %}Workout Finder{% endblock %}
{% block page %}Workout Finder{% endblock %}

{% block content %}
<div class="container">
    <h1>Find a Workout</h1>
    <form method="post" action="{{ url_for('user_views.find_workout') }}">
        <label for="muscle_group">Muscle Group:</label>
        <select id="muscle_group" name="muscle_group" required>
            <option value="">-- Select a Muscle Group --</option>
            {% for group in muscle_groups %}
            <option value="{{ group }}">{{ group }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn waves-effect waves-light">List Workouts</button>
    </form>
</div>
{% endblock %} 



#u removed the button lmao
#shhhhhhhhh
#it no workooo
#let me try
