{% extends "layout.html" %}
{% block content %}
<body>
    <header>
        <nav>
             <h1>Workouts</h1>
        </nav>
    </header>
    <main>
        {% for workout in workouts %}
        <div class="col s3 m3 l3">
            <div class="card collection">
            <div class="card-content black-text">
            <span class="card-title">{{ workout.Muscles}}</span>
            <p>Workout: {{ workout.WorkOut }}</p>
            <p>Equipment : {{ workout.Equipment }} </p>
            <p>Description : {{ workout.Explaination}}</p>
        </div>
       {% endfor %}
    </main>
</body>
{% endblock %}

